.taskList {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    padding: 2rem;
    text-align: center;
  }
  
  .taskItem {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    list-style-type: none;
  }

  .taskList h2 {
    text-align: center;
  }